// font-family: 'Gotham Pro Medium',sans-serif;
// font-family: 'Gotham Pro Bold',sans-serif;
// font-family: 'Gotham Pro Black',sans-serif;
// font-family: 'Gotham Pro Bold Italic',sans-serif;
// font-family: 'Gotham Pro Black Italic',sans-serif;

// font-family: 'Futura PT Medium',sans-serif;
// font-family: 'Futura PT Extra',sans-serif ;
// font-family: 'Futura PT Extra Italic',sans-serif;
// font-family: 'Futura PT Italic',sans-serif;

// font-family: 'Montserrat', sans-serif;

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../fonts/GothamPro-Medium.eot');
  src: local('../fonts/Gotham Pro Medium'), local('../fonts/GothamPro-Medium'),
    url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Medium.woff') format('woff'),
    url('../fonts/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('../fonts/GothamPro-Bold.eot');
  src: local('../fonts/Gotham Pro Bold'), local('../fonts/GothamPro-Bold'),
    url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Black';
  src: url('../fonts/GothamPro-Black.eot');
  src: local('../fonts/Gotham Pro Black'), local('../fonts/GothamPro-Black'),
    url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Black.woff') format('woff'),
    url('../fonts/GothamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Black Italic';
  src: url('../fonts/GothamPro-BlackItalic.eot');
  src: local('../fonts/Gotham Pro Black Italic'), local('../fonts/GothamPro-BlackItalic'),
    url('../fonts/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-BlackItalic.woff') format('woff'),
    url('../fonts/GothamPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro Bold Italic';
  src: url('../fonts/GothamPro-BoldItalic.eot');
  src: local('Gotham Pro Bold Italic'), local('../fonts/GothamPro-BoldItalic'),
    url('../fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-BoldItalic.woff') format('woff'),
    url('../fonts/GothamPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.eot');
  src: local('Gotham Pro'), local('GothamPro'),
    url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff') format('woff'), url('../fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Medium';
  src: url('../fonts/FuturaPT-Medium.eot');
  src: local('../fonts/Futura PT Medium'), local('../fonts/FuturaPT-Medium'),
    url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Medium.woff') format('woff'),
    url('../fonts/FuturaPT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Extra';
  src: url('../fonts/FuturaPT-ExtraBold.eot');
  src: local('../fonts/Futura PT Extra Bold'), local('../fonts/FuturaPT-ExtraBold'),
    url('../fonts/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
    url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Extra Italic';
  src: url('../fonts/FuturaPT-ExtraBoldObl.eot');
  src: local('../fonts/Futura PT Extra Bold Oblique'), local('../fonts/FuturaPT-ExtraBoldObl'),
    url('../fonts/FuturaPT-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-ExtraBoldObl.woff') format('woff'),
    url('../fonts/FuturaPT-ExtraBoldObl.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Futura PT Italic';
  src: url('../fonts/FuturaPT-BoldObl.eot');
  src: local('../fonts/Futura PT Bold Oblique'), local('../fonts/FuturaPT-BoldObl'),
    url('../fonts/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-BoldObl.woff') format('woff'),
    url('../fonts/FuturaPT-BoldObl.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
