.elips {
  position: relative;
  height: 0;
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  &__block {
    height: 285px;
    width: 2170px;
    border-radius: 50%;
    background-color: #01012a;
    flex-shrink: 0;
  }
}
